tosca_definitions_version: tosca_2_0
metadata:
  test: test
description: desc
node_types:
  {% for n in range(1000) %}
  node-{{n}}:
    derived_from: 12
    metadata:
      image: http://img.png
    description: test
  {% endfor %}
